.next
node_modules
dist
.env
.env.local
.env.production
.env.development
.env.*.local
coverage
*.tsbuildinfo
validation-response.json
*.log
dev-server.*
prisma-*.err.log
prisma-*.out.log
prisma-current.err.log
prisma-current.out.log
prisma-current_connect_timeout.err.log
prisma-current_connect_timeout.out.log
prisma-no_pgbouncer.err.log
prisma-no_pgbouncer.out.log
prisma-no_pgbouncer_connect_timeout.err.log
prisma-no_pgbouncer_connect_timeout.out.log
public/uploads/products/*
!public/uploads/products/.gitkeep
